[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на картинки про любовь
Type=Link
URL=http://komotoz.ru/kartinki/images/kartinki_pro_lubov/kartinki_pro_lubov_02.jpg
Icon=image-jpeg
Name[ru_RU]=img_4
